# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
*.pyd
.venv/
venv/
env/
ENV/
db.sqlite3
.env
.pytest_cache/
.tox/
.coverage
htmlcov/

# --- Node / React / Vite ---
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache
.stylelintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.tsbuildinfo

# --- Infrastructure / Terraform ---
.terraform/
# *.tfstate
# *.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraformrc
terraform.rc

# --- Secrets & Keys ---
*.pem
*.key
*.pub
secrets.xml

# --- IDEs / Editors ---
.vscode/
.idea/
*.swp
*.swo
.project
.settings/
.classpath
.factorypath

# --- OS Specific ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
